<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top:250px;">
        <img src="www.benhr.herokuapp.com/assets/head.png" alt="profile image" style="margin:0" width:"175px"; height="175px">
        <h2>Benjamin Robson</h2>
        <h3>I am an <a>International Student</a>, who loves <a>CS</a>, smooth <a>UI</a>, and <a>creating</a> cool things.<h3>

        <a class="button button-primary" href="https://github.com/benjaminr177" style="margin:20px; margin-left:0">Github</a>
        <a class="button button-primary" href="#" style="margin:20px">Linkedin</a>
        <a class="button button-primary" href="mailto:benjamin.h.robson@gmail.com" style="margin:20px">Contact</a>

        <h5 style="margin:0; float:left">Check out my work or drop me a couple lines by email.</h5>
        <img src="www.benhr.herokuapp.com/assets/plane.png" alt="paperairplane" width="210x" height="80px" style="float:right;margin-right:170px">"
      </div>
    </div>    
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
