@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

@media all and (max-width:800px) {
  .wrapper {
    top:35% !important;
    font-size: 30px !important;
  }

  #name {
    margin-bottom:20px !important;
  }

  .buttons {
    margin-top:20px !important;
  }

  .buttons button {
    height: 45px !important;
    width: 70px !important;
    font-size:20px !important;
    padding: 0px !important;
  }

  #particles-js {
    bottom:-5% !important;
    width:60px !important;
    height:60px !important;
  }
}

@media all and (min-width:800px) {
  #name {
    font-size: 45px;
  }
  
  #subtitle {
    font-size: 50px;
  }
}

body {
  user-select:none;
}

.default {
  text-decoration:inherit;
  color:inherit;
}

a:focus {
  outline: none !important;
}

button:focus {
  outline:0;
}

.wrapper {
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  font-size:35px;
  width:100%;
}

p {
  font-family: 'Work Sans', sans-serif;
  margin:20px;
}

#name {
  color:#a1c4fd;
  margin-bottom:5px;
}

#subtitle {
  font-weight:bold;
  margin-top:5px;
  margin-bottom:0px;
}

.buttons {
  display:flex;
  justify-content: center;
  margin-top:30px;
}

.buttons button {
  cursor:pointer;
  margin:10px;
  height:40px;
  width:100px;
  background-color:white;
  border: 3px solid #a1c4fd;
  font-family: 'Work Sans', sans-serif;
  color:#a1c4fd;
  transition:all 500ms ease;
  font-size:20px;
  padding-top:2px;
}

.buttons button:hover {
  color:black;
  border-color:black;
}

#particles-js {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom:-2%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border:none;
  border-radius:50%;
  padding:25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  

  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  transition:all ease 250ms;
}

#particles-js:hover {
  box-shadow:none;
}
